body {
  font-family: serif;
  background: #CDCDCD;
  font-size: 16px;
  color: #000000;
  padding:0px;
  margin:0px;
}
a {color: #C06014;}
a:hover {color: #000000;}
h1,h2,h3{
  font-family:Sans-Serif;
}
tr:nth-child(even) {background: #BDBDBD;}
tr.today { background: #EDDBCD; }
tr.spaceUnder>td {
  padding-bottom:9px;
  padding-top:9px;
}
td {
  padding-left:3px;
  padding-right:3px;
}
table a {
  color: #000000;
}
table a:hover {
  color: #C06014;
}
.boxed {
  width: calc(100%-16px);
  border: 3px;
  border-color: #C06014;
  border-style: solid;
  padding: 3px;
}
.navbar {
  font-family:Sans-Serif;
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #EDDBCD;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #C06014;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
}

.heading{
  background: #C06014;
  color: #EDDBCD;
}
